extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main

	#fullpage
		.section(data-item-color="#2DBD66" data-phone-color="#010066" data-copyright-color="#010066" data-copyright-white-bg="true")
			h1 1

		.section(data-section-with-slides="true")
			.slide(data-anchor="1" data-item-color="#347EE9" data-phone-color="#ffffff" data-copyright-color="#ffffff")
				h1 2
			.slide(data-anchor="2" data-item-color="#0473A8" data-phone-color="#ffffff" data-copyright-color="#ffffff")
				h1 3
			.slide(data-anchor="3" data-item-color="#15477E" data-phone-color="#083D77" data-copyright-color="#083D77")
				h1 4
			.slide(data-anchor="4" data-item-color="#4E3956" data-phone-color="#ffffff" data-copyright-color="#ffffff")
				h1 5
			.slide(data-anchor="5" data-item-color="#4E3956" data-phone-color="#ffffff" data-copyright-color="#056774")
				h1 6
		.section(data-section-with-slides="true")
			.slide(data-anchor="bius" data-product="true" data-item-color="#2DBD66"  data-phone-color="#000000" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 7
			.slide(data-anchor="greenox"  data-product="true" data-item-color="#4E3956"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 8
			.slide(data-anchor="horizont"  data-product="true" data-item-color="#CB9E5A"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 9
			.slide(data-anchor="etna" data-product="true" data-item-color="#FC6847"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 10
			.slide(data-anchor="aquastar" data-product="true" data-item-color="#206CDE"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1  11
			.slide(data-anchor="ajerozoldez" data-product="true" data-item-color="#2660A4"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 12
			.slide(data-anchor="aquasol" data-product="true" data-item-color="#35AEE3"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 13
			.slide(data-anchor="agronix" data-product="true" data-item-color="#CB9E5A"  data-phone-color="#ffffff" data-copyright-color="#000000" data-copyright-white-bg="true")
				h1 14
		.section( data-item-color="#2DBD66" data-phone-color="#010066" data-copyright-color="#010066" data-copyright-white-bg="true")
			h1 15

	header.site-header
		.sh-main
			.sh-logo-wrap
				img.sh-logo(src="img/logo.svg", alt="")
			.sh-burger
				span
			a.contact-phone(href="tel:88009166444")
				svg.contact-phone__desktop-pic(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M1.17165 7.071L9.65665 15.556C10.0281 15.9275 10.469 16.2221 10.9544 16.4231C11.4397 16.6242 11.9598 16.7276 12.4851 16.7276C13.0105 16.7276 13.5306 16.6242 14.0159 16.4231C14.5012 16.2221 14.9422 15.9275 15.3136 15.556L16.7276 14.142L12.4856 9.899L11.0706 11.313C10.6956 11.6879 10.187 11.8986 9.65665 11.8986C9.12632 11.8986 8.6177 11.6879 8.24265 11.313L5.41465 8.485C5.22884 8.29927 5.08145 8.07876 4.98089 7.83605C4.88033 7.59335 4.82857 7.33321 4.82857 7.0705C4.82857 6.80779 4.88033 6.54765 4.98089 6.30495C5.08145 6.06224 5.22884 5.84173 5.41465 5.656L6.82865 4.242L2.58565 0L1.17165 1.414C0.80019 1.78544 0.505534 2.2264 0.304502 2.71172C0.10347 3.19703 0 3.7172 0 4.2425C0 4.7678 0.10347 5.28797 0.304502 5.77328C0.505534 6.2586 0.80019 6.69956 1.17165 7.071Z" fill="#010066")
				span.contact-phone__text 8 800 916 64 44

	.control-panel-wrap
		.control-panel-wrap-2
			.control-main
				.control-main-item
					svg(width='32', height='28', viewBox='0 0 32 28', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(d='M26.9182 8.33855V2.54545C26.9182 2.19436 26.5688 1.84326 26.2194 1.84326H24.2978C23.9484 1.84326 23.5991 2.19436 23.5991 2.54545V5.52978L17.1355 0.263323C16.6114 -0.0877742 16.0873 -0.0877742 15.5633 0.263323L0.365134 12.3762C0.0157519 12.7273 -0.158939 13.2539 0.190443 13.605L1.23859 15.0094C1.58797 15.3605 1.93736 15.3605 2.28674 15.1849L15.2139 4.82758C15.738 4.47649 16.262 4.47649 16.7861 4.82758L29.7133 15.1849C30.0626 15.536 30.5867 15.3605 30.7614 15.0094L31.8096 13.605C32.1589 13.2539 31.9842 12.7273 31.6349 12.5517L26.9182 8.33855Z', fill='#B3B1BF')
						path(d='M3.85894 15.8872V24.1379C3.85894 26.2445 5.60585 28 7.70214 28H11.3707C11.8947 28 12.2441 27.6489 12.2441 27.1223V18.6959C12.2441 18.1693 12.5935 17.8182 13.1176 17.8182H19.4065C19.9305 17.8182 20.2799 18.1693 20.2799 18.6959V27.1223C20.2799 27.6489 20.6293 28 21.1534 28H24.8219C26.9182 28 28.6651 26.2445 28.6651 24.1379V15.8872C28.6651 15.7116 28.4904 15.3605 28.3157 15.185L16.9608 6.23199C16.4367 5.88089 15.9126 5.88089 15.3886 6.23199L4.20832 15.185C3.85894 15.3605 3.85894 15.5361 3.85894 15.8872Z', fill='#B3B1BF')

				.control-main-item
					svg(width='36', height='32', viewBox='0 0 36 32', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(d='M10.7366 13.3395C10.1548 11.7637 9.32381 10.2709 8.28502 8.90245C7.74485 8.15603 7.16313 7.49254 6.4983 6.87053C6.5814 6.91199 6.66451 6.95346 6.74761 6.99493C8.9083 8.1975 10.695 9.77327 12.1493 11.5564C12.5648 11.1002 12.9804 10.6856 13.3959 10.2709C14.9333 8.81951 16.6785 7.65841 18.5483 6.82906C16.6785 4.50686 14.2269 2.59934 11.2352 1.35531C8.07726 0.0698099 4.75313 -0.261932 1.5952 0.194213C1.51209 0.360084 1.42899 0.525955 1.34589 0.733294C-1.85359 8.57071 0.847268 17.3619 7.37088 22.1721C7.74485 18.9791 8.9083 15.952 10.7366 13.3395Z', fill='#B3B1BF')
						path(d='M26.6093 6.28998C17.0109 6.28998 9.15761 13.7127 8.45123 23.0844C12.5233 19.145 18.2159 15.1226 23.576 14.003C18.5898 15.9934 13.5205 20.3476 10.1133 24.909C8.45123 27.1897 7.62019 28.3508 7.24623 28.9314C7.03847 29.2217 6.87226 29.5119 6.74761 29.7607C6.5814 30.0096 6.45675 30.2169 6.37364 30.3828C6.16588 30.7145 6.04123 30.9218 6.04123 30.9218L8.28502 32C8.28502 32 8.36812 31.7927 8.49278 31.4195C8.57588 31.2536 8.65899 31.0048 8.74209 30.756C8.82519 30.5072 8.94985 30.2169 9.0745 29.9266C9.32381 29.3046 9.65623 28.5996 10.0302 27.8532C10.3211 27.3141 10.6119 26.7751 10.9443 26.1945C13.0635 27.0653 15.3904 27.5215 17.8004 27.5215C27.8143 27.5215 35.9585 19.3938 35.9585 9.40006C36 9.23419 36 9.06832 36 8.86098C33.2576 7.20227 30.0581 6.28998 26.6093 6.28998Z', fill='#B3B1BF')


				.control-main-item
					svg(xmlns='http://www.w3.org/2000/svg', width='22pt', height='40pt', viewBox='0 0 22 40')
						path( d='M 10.847656 0 L 11.464844 0 C 11.667969 0.0859375 11.878906 0.164062 12.042969 0.3125 C 12.421875 0.644531 12.566406 1.207031 12.40625 1.679688 C 12.300781 1.988281 12.09375 2.273438 11.792969 2.421875 C 11.519531 2.585938 11.1875 2.597656 10.875 2.558594 C 10.410156 2.476562 10.011719 2.113281 9.878906 1.667969 C 9.777344 1.3125 9.804688 0.90625 10.019531 0.59375 C 10.191406 0.285156 10.515625 0.09375 10.847656 0 Z M 15.195312 2.625 C 15.933594 2.503906 16.703125 3.015625 16.859375 3.738281 C 16.910156 4.097656 16.914062 4.492188 16.714844 4.816406 C 16.503906 5.152344 16.175781 5.441406 15.773438 5.523438 C 15.324219 5.609375 14.816406 5.542969 14.464844 5.234375 C 14.085938 4.949219 13.882812 4.46875 13.898438 4.003906 C 13.949219 3.691406 14.039062 3.371094 14.257812 3.132812 C 14.496094 2.859375 14.835938 2.675781 15.195312 2.625 Z M 9.699219 5.585938 C 9.980469 5.484375 10.285156 5.503906 10.578125 5.511719 C 11.15625 5.554688 11.691406 5.863281 12.054688 6.300781 C 12.445312 6.785156 12.617188 7.4375 12.492188 8.046875 C 12.457031 8.226562 12.375 8.394531 12.320312 8.566406 C 13.121094 8.578125 13.921875 8.566406 14.726562 8.570312 C 15.015625 8.578125 15.308594 8.546875 15.59375 8.613281 C 15.867188 8.671875 16.117188 8.816406 16.308594 9.011719 C 17.011719 9.738281 16.992188 11.015625 16.261719 11.71875 C 16.09375 11.882812 15.875 11.988281 15.652344 12.0625 C 15.621094 12.230469 15.640625 12.402344 15.636719 12.570312 L 15.636719 17.796875 C 15.632812 18.007812 15.628906 18.214844 15.660156 18.425781 C 15.679688 18.589844 15.664062 18.761719 15.746094 18.914062 C 15.851562 19.128906 15.976562 19.339844 16.09375 19.550781 C 16.160156 19.695312 16.320312 19.742188 16.441406 19.820312 C 16.980469 20.121094 17.488281 20.46875 17.96875 20.847656 C 18.183594 21.015625 18.375 21.210938 18.589844 21.382812 C 18.796875 21.558594 18.976562 21.761719 19.15625 21.96875 C 20.167969 23.039062 20.914062 24.335938 21.410156 25.707031 C 21.660156 26.445312 21.832031 27.210938 21.921875 27.984375 C 21.9375 28.148438 21.941406 28.316406 21.984375 28.480469 L 21.984375 29.886719 C 21.953125 30.003906 21.9375 30.125 21.933594 30.246094 C 21.710938 32.769531 20.515625 35.183594 18.675781 36.949219 C 17.816406 37.769531 16.824219 38.453125 15.746094 38.964844 C 14.78125 39.40625 13.757812 39.734375 12.703125 39.890625 C 12.441406 39.941406 12.175781 39.941406 11.914062 40 L 10.070312 40 C 9.953125 39.972656 9.832031 39.957031 9.710938 39.949219 C 7.554688 39.707031 5.472656 38.8125 3.828125 37.414062 C 1.691406 35.625 0.296875 32.996094 0.046875 30.246094 C 0.0429688 30.125 0.03125 30.003906 0 29.886719 L 0 28.523438 C 0.0429688 28.367188 0.046875 28.210938 0.0546875 28.050781 C 0.144531 27.246094 0.320312 26.449219 0.585938 25.679688 C 1.074219 24.34375 1.796875 23.085938 2.769531 22.03125 C 2.949219 21.855469 3.09375 21.644531 3.285156 21.480469 C 3.417969 21.363281 3.554688 21.253906 3.683594 21.132812 C 4.328125 20.566406 5.046875 20.078125 5.808594 19.675781 C 5.921875 19.613281 6.054688 19.570312 6.15625 19.484375 C 6.238281 19.386719 6.292969 19.265625 6.359375 19.15625 C 6.433594 19.007812 6.539062 18.863281 6.550781 18.695312 C 6.570312 18.433594 6.609375 18.179688 6.597656 17.917969 C 6.59375 16.164062 6.597656 14.40625 6.59375 12.652344 C 6.59375 12.46875 6.609375 12.28125 6.585938 12.097656 C 6.484375 12.023438 6.363281 11.988281 6.253906 11.925781 C 5.785156 11.675781 5.503906 11.164062 5.425781 10.65625 C 5.351562 10.308594 5.421875 9.945312 5.539062 9.617188 C 5.703125 9.167969 6.066406 8.777344 6.539062 8.636719 C 6.863281 8.535156 7.210938 8.578125 7.550781 8.570312 C 7.8125 8.566406 8.078125 8.582031 8.339844 8.566406 C 8.289062 8.351562 8.1875 8.148438 8.15625 7.929688 C 8.085938 7.632812 8.15625 7.328125 8.230469 7.035156 C 8.292969 6.777344 8.433594 6.542969 8.589844 6.332031 C 8.855469 5.960938 9.269531 5.726562 9.699219 5.585938 M 13.207031 21.484375 C 12.5625 21.542969 11.921875 21.804688 11.476562 22.273438 C 10.953125 22.757812 10.679688 23.464844 10.65625 24.164062 C 10.675781 24.757812 10.875 25.355469 11.253906 25.824219 C 11.507812 26.09375 11.777344 26.359375 12.109375 26.53125 C 12.519531 26.738281 12.980469 26.851562 13.441406 26.859375 C 13.6875 26.835938 13.941406 26.808594 14.179688 26.730469 C 15.15625 26.457031 15.914062 25.582031 16.082031 24.605469 C 16.09375 24.457031 16.113281 24.308594 16.132812 24.164062 C 16.09375 23.820312 16.066406 23.472656 15.914062 23.15625 C 15.820312 22.96875 15.730469 22.773438 15.601562 22.605469 C 15.21875 22.074219 14.625 21.691406 13.980469 21.546875 C 13.726562 21.511719 13.464844 21.433594 13.207031 21.484375 M 6.691406 26.871094 C 6.339844 26.949219 5.980469 27.085938 5.734375 27.355469 C 5.367188 27.6875 5.144531 28.164062 5.140625 28.652344 C 5.148438 29.125 5.34375 29.585938 5.671875 29.929688 C 6.019531 30.28125 6.515625 30.476562 7.011719 30.492188 C 7.273438 30.46875 7.535156 30.417969 7.769531 30.300781 C 8.558594 29.957031 9.019531 29.003906 8.765625 28.1875 C 8.660156 27.78125 8.375 27.441406 8.046875 27.183594 C 7.65625 26.917969 7.164062 26.796875 6.691406 26.871094 M 12.167969 30.625 C 11.496094 30.714844 10.898438 31.25 10.777344 31.914062 C 10.574219 32.761719 11.238281 33.6875 12.113281 33.792969 C 12.277344 33.800781 12.445312 33.800781 12.609375 33.792969 C 13.378906 33.691406 14.023438 32.976562 13.980469 32.203125 C 14.007812 31.917969 13.890625 31.648438 13.757812 31.402344 C 13.441406 30.871094 12.789062 30.546875 12.167969 30.625 Z M 12.167969 30.625 ', fill='#B3B1BF')


				.control-main-item
					svg(width='28', height='28', viewBox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
						path(d='M17.5355 21.1426C17.1083 21.7833 16.4676 21.9969 15.827 21.7833C13.9049 20.7155 11.9828 19.2206 10.4879 17.7256C8.99298 16.2307 7.49804 14.0951 6.43023 12.3866C6.00311 11.7459 6.21667 11.1052 6.85736 10.6781L9.4201 9.18317C10.0608 8.75604 10.2743 8.11536 10.0608 7.47467L8.56585 1.28137C8.56585 0.427124 7.7116 0 7.07092 0L2.58612 0.213562C1.09118 0.213562 -0.190191 1.7085 0.0233715 3.20343C0.664058 9.39673 3.2268 15.3765 7.92517 20.0748C12.6235 24.7732 18.6033 27.5495 24.7966 27.9766C26.2915 28.1902 27.7864 26.9088 27.7864 25.4139L28 20.9291C28 20.2884 27.5729 19.4341 26.7186 19.4341L20.5253 18.1528C19.8846 17.9392 19.244 18.1528 18.8168 18.7935L17.5355 21.1426Z', fill='#B3B1BF')

			.control-products-menu
				.control-products-title Продукция
				.control-products-items
					.control-products-item Состав «Bius»
					.control-products-item Состав «Aquasol»
					.control-products-item Состав «Greenox»
					.control-products-item Состав «Horizont»
					.control-products-item Состав «Etna»
					.control-products-item Фильтры «Aquastar»
					.control-products-item Уст. «Аэрозольдез»
					.control-products-item Система «Agronix»
