extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main

	#fullpage
		.section.fp-section(data-section-control-id="home-control" data-item-color="#2DBD66" data-phone-color="#010066" data-copyright-color="#010066" data-copyright-white-bg="true")
			.sec-bg(style="background-image: url(images/sec1.jpg)")
			.container.container-default
				h1.s1-heading Свежий воздух, чистая вода,
					br
					|  здоровая почва
				.s1-description Мы производим продукты и оборудование для улучшения жизни, сохранения природы, экономии энергоресурсов и решения экологических проблем. Мы хотим и можем сделать мир чище,  жизнь безопаснее, защиту природы быстрой, лёгкой и эффективной.


		.section.fp-section(data-section-control-id="home-control" data-item-color="#2DBD66" data-phone-color="#010066" data-copyright-color="#010066" data-copyright-white-bg="true")
			.sec-bg(style="background-image: url(images/sec1.jpg)")
			.container.container-default
				h1.s1-heading Свежий воздух, чистая вода,
					br
					|  здоровая почва
				.s1-description Мы производим продукты и оборудование для улучшения жизни, сохранения природы, экономии энергоресурсов и решения экологических проблем. Мы хотим и можем сделать мир чище,  жизнь безопаснее, защиту природы быстрой, лёгкой и эффективной.


		.section.fp-section(data-section-control-id="home-control" data-item-color="#2DBD66" data-phone-color="#010066" data-copyright-color="#010066" data-copyright-white-bg="true")
			.sec-bg(style="background-image: url(images/sec1.jpg)")
			.container.container-default
				h1.s1-heading Свежий воздух, чистая вода,
					br
					|  здоровая почва
				.s1-description Мы производим продукты и оборудование для улучшения жизни, сохранения природы, экономии энергоресурсов и решения экологических проблем. Мы хотим и можем сделать мир чище,  жизнь безопаснее, защиту природы быстрой, лёгкой и эффективной.


		.section.fp-section(data-section-control-id="home-control" data-item-color="#2DBD66" data-phone-color="#010066" data-copyright-color="#010066" data-copyright-white-bg="true")
			.sec-bg(style="background-image: url(images/sec1.jpg)")
			.container.container-default
				h1.s1-heading Свежий воздух, чистая вода,
					br
					|  здоровая почва
				.s1-description Мы производим продукты и оборудование для улучшения жизни, сохранения природы, экономии энергоресурсов и решения экологических проблем. Мы хотим и можем сделать мир чище,  жизнь безопаснее, защиту природы быстрой, лёгкой и эффективной.

