.input-text,
textarea {
	width: 100%;
	border: 2px solid #DEE2EA;
	border-radius: 6px;
	padding: 12px 24px;
	font-family: 'Pragmatica';
	font-size: 16px;
	line-height: 24px;
	color: #2A2D34;

	&::placeholder {
		color: #6C7486;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}

textarea {
	resize: none;
}

label {
	display: flex;
	align-items: center;

	b {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 18px;
		width: 100%;
		height: 18px;
		border-radius: 50%;
		border: 1px solid #D6D6D8;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
		margin-right: 8px;
	}

	.input-checkbox {
		display: none;

		&:checked + b {
			&::before {
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #2A68FB;
			}
		}
	}

	p {
		font-size: 12px;

		a {
			text-decoration: underline;
			color: #2A68FB;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
