@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraLight.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Black.woff2') format('woff2'),
        url('../fonts/Pragmatica-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Medium.woff2') format('woff2'),
        url('../fonts/Pragmatica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Book.woff2') format('woff2'),
        url('../fonts/Pragmatica-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Bold.woff2') format('woff2'),
        url('../fonts/Pragmatica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Light.woff2') format('woff2'),
        url('../fonts/Pragmatica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

