@media screen and (max-width:1400px) {
    .copyright-block {
        margin-bottom: 20px;
    }

    .container-default {
        padding-bottom: 80px;
    }

    .product-card {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .prod-name {
        margin-top: 30px;
    }


}